

/* css componente */
marquee{
  color: #010101;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  height: 30px;

  background: rgba(222, 12, 12, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.container {
  width: 100%; /* Asegúrate de que no exceda el viewport */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: hidden; /* Evita que el contenido desborde horizontalmente */
  box-sizing: border-box; /* Incluye padding y border dentro del ancho */
}

.card{
  display:flex;
  flex-direction:column;
  width:400px;
  margin-bottom:60px;

  background-color: rgba(0,0,0, 0);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  border-radius: 15px;
}

.card > div {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.card-image{
  width:400px;
  height:450px;
  object-fit: contain;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 15px 15px 0px 0px;
}

.card-text{
  margin:-30px auto;
  margin-bottom:-50px;
  height:300px;
  width:300px;
  background-color:#1D1C20;
  color:#fff;
  padding:20px;
}

.card-meal-type {
  font-style: italic;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 1px;
  margin-top: 1px;
  transform: rotate(-3deg);
}

.card-body {
  font-size: 1.25rem;
}

.card-price{
  width:100px;
  height:100px;
  background-color:#970C0A;
  color:#fff;
  font-size:1.2rem;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left:65%;
  border-radius: 15px;
  margin-bottom: 15px;
}

