.login-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-left: 50px;
}

/* Contenedor del login */
.login-container {
  border-radius: 16px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.01); /* Color de fondo translúcido */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
}

/* Título del formulario */
.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Campos del formulario */
.login-input, .login-button {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border: none; /* Elimina el borde */
  border-bottom: 2px solid #ccc; /* Solo muestra un borde inferior */
  background: transparent; /* Elimina el fondo */
  color: rgb(4, 3, 3); /* Color del texto */
  outline: none; /* Elimina el resalte al hacer focus */
  font-size: 16px;
  transition: border-color 0.3s ease; /* Transición suave */
}

.login-button {
  background-color: #F23005;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #F2B90C;
}

.login-input:focus {
  outline: none;
  border-color: #F23005;
}

/* Imagen del login */
.login-image img {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor de las imágenes */
.container-fotoIA {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries para pantallas medianas */
@media (max-width: 1024px) {
  .login-wrapper {
    flex-direction: column; /* Coloca los elementos uno sobre otro */
  }

  .login-container {
    margin: 20px;
    width: 60%; /* Ajusta el tamaño del contenedor del login */
    height: auto; /* Ajusta la altura para pantallas medianas */
  }

  .container-fotoIA {
    margin: 20px;
    width: 90%;
  }
}

/* Media Queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .login-wrapper{
    padding: 0px;
  }
  .login-container {
    padding: 20px;
    width: 80%; 
  }

  .login-container h2 {
    font-size: 20px; /* Reduce el tamaño del texto */
  }

  .login-input, .login-button {
    font-size: 14px; /* Reduce el tamaño de los textos */
  }

  .login-image img {
    max-width: 100%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
  }
}

