/* styles.css */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-number {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #383838f8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    margin: 0px 25px 0px 25px;
  }
  
  .button:hover {
    background-color: #383838a1;
  }
  