body{ 
  background:url("https://firebasestorage.googleapis.com/v0/b/mueblesxela-d948d.appspot.com/o/uploads%2Ffondo.jpg?alt=media&token=26025350-2a29-46fe-848b-9a3f3d3ef437");
  background-repeat: repeat;
  background-size: 400px 400px; 
}

/* Ocultar la barra de desplazamiento solo en Chrome, Edge y Safari */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar la barra de desplazamiento en Firefox */
html {
  scrollbar-width: none;
}

/*scroll siga funcionando */
body {
  overflow: scroll;
}




