body{ 
  background:url("https://firebasestorage.googleapis.com/v0/b/mueblesxela-d948d.appspot.com/o/uploads%2Fpreview%20(1).webp?alt=media&token=68ebeced-b24a-45fe-b56a-9cc7bf0e0f07");
  background-repeat: repeat;
  background-size: 200px 200px; 
}


body{ 
  background:url("https://firebasestorage.googleapis.com/v0/b/mueblesxela-d948d.appspot.com/o/uploads%2Fpreview.webp?alt=media&token=846be358-205f-45cd-96cc-b76fce474850");
  background-repeat: repeat;
  background-size: 200px 200px; 
}



body{ 
  background:url(https://images.unsplash.com/photo-1506968430777-bf7784a87f23?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
}

body{ 
  background:url(https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?cs=srgb&dl=pexels-fwstudio-33348-139312.jpg&fm=jpg);
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
}

body{ 
  background:url("https://static9.depositphotos.com/1000604/1104/i/450/depositphotos_11040735-stock-photo-blue-wood.jpg");
  background-repeat: repeat;
  background-size: 400px 400px; 
}

body{ 
  background:url("https://firebasestorage.googleapis.com/v0/b/mueblesxela-d948d.appspot.com/o/uploads%2Ffondo.jpg?alt=media&token=26025350-2a29-46fe-848b-9a3f3d3ef437");
  background-repeat: repeat;
  background-size: 400px 400px; 
}

